/*
Theme Name: loft by polyarix
Theme URI: https://polyarix.com
Author: merelyiGor
Author URI: https://www.instagram.com/merely_igor/
Description: loft by polyarix
Version: 1.0
Tags:
Text Domain:
*/

/*блокирует надпись zzz.com.ua*/


#dd-popup {
    display:none!important;
}
.cbalink {
    display: none!important;
}
.slider__inform-block.active{
    display:block !important;
}
.category-text-block h1,h2,h3,h4,h5,h6 {
    margin-bottom: 1.0625em;
    color: #1b342e;
    font-size: 1.5em;
    font-family: MontserratBold;
}
.category-text-block p {
    width: 81.25em;
    margin-bottom: 2.5em;
    color: #5e5e5e;
    font-size: .875em;
    line-height: 1.8125em;
}
.product-color img{
    border-radius: 50%;
}
.card .section2 .l-block .img-gamma li:first-child {
    margin:0 !important;
    margin-bottom: 2em !important;
}
.img-gamma ul{
    display: flex !important;
    flex-flow: row wrap;
    justify-content: space-between;
}
.img-gamma li{
  
    margin-bottom: 2em !important;
}

.mc4wp-response {
    display: none;
}
.footer .l-block p {
    display: none;
}

.footer .l-block .email svg {
    z-index: -1;
}

.subscribe-fix {
    position: absolute!important;
    bottom: 0 !important;
    left: 290px!important;
    background: transparent!important;
    z-index: 99;
}

.submit-fix {
    width: 25px!important;
    background: transparent!important;
    border: none!important;
    cursor: pointer!important;
    z-index: 9999;
}

.home .section1 .img img {
    object-fit: cover;
}

@media (max-width: 767px) {
    .subscribe-fix {
        position: absolute!important;
        bottom: 0!important;
        left: 261px!important;
        background: transparent!important;
    }
}
.card .section1 .slider .slider-litl .slick-slide img{
    width: 95px;
}
.card .section1 .slider .slider-big .slick-slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.tt-dataset{
    width: 39.3125em;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(29, 32, 108, 0.13) -1px 0.5em 1.0625em 0px;
    padding: 1.125em 2.375em;
    position: absolute;
    top: 4em;
    left: -2.4em;
}
.tt-suggestion{
    margin-left: 0;
    font-size: 1.5em;
    font-family: MontserratBold;
    color: rgb(27, 52, 46);
    margin-top: 1em;
    margin-bottom: 0.83333em;
    cursor: pointer;
    position: relative;
    display: block;
    float: left;
    clear: left;
    line-height: 1.8;
}

.tt-suggestion:hover::after{
    content: '';
    width: 130%;
    height: 2px;
    background-color: rgb(27, 52, 46);
    display:block;
}

.twitter-typeahead {
    background: transparent!important;
    margin: 0!important;
}

.fix-to-svg, .fix-to-svg-black {
    position: absolute;
    right: 60px;
    top: 15px;
    z-index: 99;
    visibility: visible;
    opacity: 1;
    height: 30px;
}

.search {
    z-index: 99;
    min-height: 75px!important;
}

.result__search {
    visibility: hidden;
    opacity: 0;
    width: 39.3125em;
    height: 35em;
    padding: 20px 25px 20px 0;
    position: absolute;
    top: 35%;
    left: 0;
    overflow: visible;
    background-color: #ffffff;
    box-shadow: rgba(29, 32, 108, 0.13) -1px 0.5em 1.0625em 0;
}

#section5 .active {
    visibility: visible!important;
    opacity: 1!important;
}

.result__search .body {
    padding-bottom: .12em;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    overflow: auto;
}

.result__search .body::-webkit-scrollbar {
    width: 8px;
}

.result__search .body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #f8f8f8;
}

.result__search .body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ffffff;
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.5);
}

.result {
    display: block;
    width: 99.7%;
    min-height: 5.4em;
    background: transparent;
    position: relative;
    padding-left: 30px;
    padding-right: 30px;

    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #333333;
}
.result:hover {
    background-color: #f8f8f8;
    border-bottom: .12em solid #abd5cb;
    width: 99.7%;
    padding-bottom: 0;
}

.result_top {
    overflow: hidden;
    padding-top: 15px;
    min-height: 2em;
    margin-bottom: 17px;
}

.result_bottom {
    padding-bottom: 15px;
    min-height: 2em;
}

.result__left {
    float: left;
}

.result__right {
    float: right;
}

.result__right a {
    display: block;
}

.span-fix-search {
    vertical-align: top!important;
    margin: 0!important;
    background: none!important;
}

.text-result-shop {
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5188c8;
}

.result:hover .text-result-shop {
    color: #58a794;
}

.result__right .link {
    text-decoration: underline;
}

.message-sent{
    display: none;
    position: fixed;
    top: 20%;
    left: 75%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: MontserratBold;
    padding: 5em 15em;
    background-color: #1b342e;
    box-shadow: -1px 8em 17em 0 rgba(29, 32, 108, 0.13);
    opacity: 0;
    transition: all .4s ease;
    z-index: 99999;
}
.message-sent-open{
    display: inline-block;
    opacity: 1;
}

.category .section2 .category-card-img .card-img-big-single {
    position: absolute;
    z-index: 3;
    top: 1.5em;
    left: 1.375em;
    display: block;
    width: 4.0625em;
    height: 4.0625em;
    background-image: url(../img/ic-pluse.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.category .section2 .category-card-img .card-img-big-single:hover {
    -webkit-transform: scale(.9);
    transform: scale(.9)
}

.category .section2 .category-cards {
    padding-top: 3em;
}

.card .section2 .l-block .l-bottom ul li:last-child {
    border: none!important;
}

.home .section1 .img .s1-plus-up {
    display: none!important;
}

.category-plus img {
    max-width: 30em!important;
}
.category-goods-col #fix-width-card {
    max-width: 13em!important;
}

@media screen and (max-width: 768px){
    .mobile .contacts .section1 .send{
        padding: 25px;
        margin-left: 0;
    }
    .mobile .header .header-logo {
        width: 50px;
    }
    .home{
        overflow-x: hidden;
        width: 100%;
    }
    .swiper-container {
        overflow: visible;
    }
    .mobile .home .section1 {
        height: 180vw;
    }
    .mobile .home .section1 .img {
        height: 100%;
    }
    .mobile .home .section1 .img img{
        display: block;
    }
    .mobile .home .section1 .swiper-pagination-bullet {
        width: 70px;
    }
    .mobile .home .section2 .l-block{
        height: auto;
    }
    .result{
        height: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    .result_top{
        margin: 0
    }
    .result__left,.result__right{
        display: block;
        width: 100%;
        margin: 4px 0;
        float: none;
    }
    .mobile .home .section5 .l-block span{
        height: auto;
    }

    .result__search {
        top: 30%;
        height: 60em;
        margin-bottom: 30px;
        padding-right: 10px;
    }
}